.shortlistedLoanApplicationText,
.AllLoanApplicationsText {
    height: 23px;
    width: 307px;
    color: #000000;
    // font-family: "Airbnb Cereal App";
    font-size: 18px;
    font-weight: 500;
    // letter-spacing: 0;
    line-height: 23px;
    margin-top: 10px;
}

.shortlistedLoanApplication {
    padding-top: 50px;
    padding-bottom: 85px;
}

.saving-circle {
    box-sizing: border-box;
    height: 126px;
    width: 261px;
    border: 2px dashed #b373b8;
    border-radius: 10px;
    background-color: #F2E8F3;
}

.saving-circle-text {
    margin-top: 50px; // width: 101px;
    color: #b373b8;
    // font-family: "Airbnb Cereal App";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
}