    .shortListedLenderText,
    .AllBorrowCirclesText {
        height: 23px;
        width: 157px;
        color: #000000;
        // font-family: "Airbnb Cereal App";
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 23px;
        margin-top: 10px;
    }
    
    .shortListedLender {
        padding-top: 50px;
        padding-bottom: 85px;
    }
    
    .borrow-circle {
        box-sizing: border-box;
        height: 126px;
        width: 261px;
        border: 2px dashed #FF9886;
        border-radius: 10px;
        background-color: #FFF4F2;
    }
    
    .borrow-circle-text {
        margin-top: 50px; // width: 101px;
        color: #FF9886;
        // font-family: "Airbnb Cereal App";
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
    }